@font-face {
  font-family: "finn-font";
  src: url(https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Light.woff2);
}
@font-face {
  font-family: "finn-font-bold";
  src: url(https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Medium.woff2);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "finn-font-bold";
}

* {
  font-family: "finn-font";
}

header {
  border-bottom: 1px solid rgba(118, 118, 118, 0.6);
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
}
.nav-logo__link:hover {
  border-bottom: 2px solid rgba(0, 99, 251, 0.8);
}
.nav-logo__link {
  padding: 10px;
}
.nav-logo, .nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-logo__item, .nav-logo__list, .nav-logo__link, .nav-menu__item, .nav-menu__list, .nav-menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #474445;
}
.nav-logo__list, .nav-menu__list {
  margin: 0px;
}
.nav-logo__text, .nav-logo__link, .nav-menu__text, .nav-menu__link {
  margin-left: 8px;
  font-family: "finn-font-bold";
}
.nav-logo__img, .nav-menu__img {
  width: 92px;
  height: 32px;
}
.nav-logo__item, .nav-menu__item {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  padding: 10px;
}
.nav-logo__item:hover, .nav-menu__item:hover {
  border-bottom: 2px solid rgba(0, 99, 251, 0.8);
}
.nav-logo__link, .nav-menu__link {
  position: relative;
}
.nav-logo__icon--notfi-bubble, .nav-menu__icon--notfi-bubble {
  height: 10px;
  width: 10px;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 100%;
  background-color: #d91f0a;
  margin-right: 60px;
}

.nav-marked__list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  padding: 0px;
  list-style: none;
  justify-content: center;
}
.nav-marked__item .nav-marked__link {
  align-items: center;
  display: flex;
  justify-content: center;
}
.nav-marked__link {
  flex-direction: column;
  padding: 16px 4px;
  text-decoration: none;
  margin-top: 0.8rem;
  color: #474445;
  text-align: center;
}
.nav-marked__icon {
  width: 36px;
  height: 24px;
  margin-bottom: 0.8rem;
}
.nav-marked__icon--external {
  margin-left: 3.1rem;
  margin-bottom: 4rem;
  opacity: 0.4;
  position: absolute;
}

.search-container {
  padding-top: 1.6rem;
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 2;
}
.search-input {
  padding: 0.8rem 4rem 0.8rem 1rem;
  width: 100%;
  border-radius: 4px;
  border: 2px solid rgba(118, 118, 118, 0.2);
  display: block;
}
.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.search-btn, .search-btn__map {
  background-color: transparent;
  border: none;
}
.search-btn__map, .search-btn__map__map {
  padding: 1.2rem 1rem;
  display: flex;
  align-items: center;
  font-family: "finn-font-bold";
  font-size: 16px;
}
.search-btn__icon, .search-btn__map__icon {
  padding-right: 8px;
}

.section__marked-cards {
  padding: 10px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.card-marked {
  padding: 10px;
}
.card-marked__item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #474445;
}
.card-marked__figure {
  margin: 0px;
  position: relative;
}
.card-marked__img {
  border-radius: 8px;
  border: 1px solid rgba(118, 118, 118, 0.6);
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.card-marked__title, .card-marked__price {
  font-family: "finn-font-bold";
}
.card-marked__subtitle--location {
  font-size: 12px;
}
.card-marked__btn {
  width: 20px;
  z-index: 2;
  top: 0;
  right: 0;
  padding: 0.8rem 1.5rem 0.8rem 3.5rem;
}
.card-marked__btn, .card-marked__price {
  bottom: 0;
  position: absolute;
}
.card-marked__price {
  left: 0;
  color: #f1f9ff;
  padding: 0.2rem 12.5rem 0.4rem 1.5rem;
  margin-bottom: 5px;
  border-radius: 8px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 13.71%, rgba(0, 0, 0, 0.114) 25.12%, rgba(0, 0, 0, 0.192) 34.61%, rgba(0, 0, 0, 0.28) 42.59%, rgba(0, 0, 0, 0.37) 49.46%, rgba(0, 0, 0, 0.46) 55.63%, rgba(0, 0, 0, 0.55) 61.47%, rgba(0, 0, 0, 0.627) 67.41%, rgba(0, 0, 0, 0.698) 73.83%, rgba(0, 0, 0, 0.753) 81.13%, rgba(0, 0, 0, 0.79) 89.73%, rgba(0, 0, 0, 0.8));
}/*# sourceMappingURL=common.css.map */