// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE
// Example: input, button, card ...

// **Variables**
//Colors
$primary-blue: #0063fb;
$secondary-blue: #06befb;
$hover-blue:#004ABC;
$licorice: #464646;
$fontblack: #474445;
$stone: #767676;
$ice: #F1F9FF;
$marble: #F6F8FB;
$cherry: #d91f0a;

// H1 - h5 variable with their correct size imported form the fabric site
$h1-size: 34px;
$h1-line-height: 41px;

$h2-size: 28px;
$h2-line-height: 34px;

$h3-size: 22px;
$h3-line-height: 28px;

$h4-size: 16px;
$h4-line-height: 22px;

$h5-size: 14px;
$h5-line-height: 18px;

$text-34-size: 34px;
$text-34-line-height: 41px;

$text-28-size: 28px;
$text-28-line-height: 34px;

$text-22-size: 22px;
$text-22-line-height: 28px;

$text-16-size: 16px;
$text-16-line-height: 22px;

$text-14-size: 14px;
$text-14-line-height: 18px;

$text-12-size: 12px;
$text-12-line-height: 16px;

@font-face {
    font-family: "finn-font";
    src: url(https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Light.woff2);
}


@font-face {
    font-family: "finn-font-bold";
    src: url(https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Medium.woff2);
}

h1, h2, h3, h4, h5 {
    font-family: "finn-font-bold";
  }

* {
    font-family:"finn-font";
}

p {
  font-family: "finn-font";
  color: $fontblack;
}

// **Navbars**

// Homepage Navigation
header {
  border-bottom: 1px solid rgba($color: $stone, $alpha: 0.6);
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: $text-12-size;
  line-height: $text-12-line-height;

  &-logo__link:hover {
    border-bottom: 2px solid rgba($color: $primary-blue, $alpha: 0.8);
  }
  
  &-logo__link {
    padding: 10px;
  }
  
  &-logo,
  &-menu {
    display: flex;
    align-items: center;
    list-style: none;
    
    &__item,
    &__list,
    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $fontblack;
    }
    
    &__list {
      margin: 0px;
    }
    
    &__text, &__link {
      margin-left: 8px;
      font-family: "finn-font-bold";
    }
    
    &__img {
      width: 92px;
      height: 32px;
    }
    
    &__item {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 1rem;
      padding: 10px;
    }
    
    &__item:hover {
      border-bottom: 2px solid rgba($color: $primary-blue, $alpha: 0.8);
    }
    
    &__link {
      position: relative;
    }
    
    &__icon--notfi-bubble {
      height: 10px;
      width: 10px;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      border-radius: 100%;
      background-color: $cherry;
      margin-right: 60px;
    }
  }
}

  
// Marked navigation
.nav-marked {
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    padding: 0px;
    list-style: none;
    justify-content: center;
  }

  &__item
  &__link {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__link {
    flex-direction: column;
    padding: 16px 4px;
    text-decoration: none;
    margin-top: 0.8rem;
    color: $fontblack;
    text-align: center;
  }

  &__icon {
    width: 36px;
    height: 24px;
    margin-bottom: 0.8rem;

    &--external {
      margin-left: 3.1rem;
      margin-bottom: 4rem;
      opacity: 0.4;
      position: absolute;
    }
  }


}

// **Inputs** 

//  Searchbar
.search-container {
  padding-top: 1.6rem;
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 2;

  &-input {
    background-color: transparent;
    padding: 0.8rem 4rem 0.8rem 1rem;
    width: 100%;
    border-radius: 4px;
    border: 2px solid rgba($color: $stone, $alpha: 0.2);
    display: block;
  }

  &-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &-btn,
  &-btn__map {
    background-color: transparent;
    border: none;

    &__map {
      padding: 1.2rem 1rem;
      display: flex;
      align-items: center;
      font-family: "finn-font-bold";
      font-size: $text-16-size;
    }

    &__icon {
      padding-right: 8px;
    }
  }
}

//  Login input
.login-form{
  position: relative;
  
  &__input {
      width: 93%;
      padding: 20px;
      margin: 8px 0;
      border-radius: 4px 0px;
      border-left: 0px;
      border-right: 0px;
      border-top: 0px;
      font-weight: bold;
      background-color: $marble;
  }

  &__icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 48px;
  }
}
  
// Buttons
.button {
    &--primary {
      padding: 12px 16px;
      border-radius: 8px;
      background-color: $primary-blue;
      border-width: 0;
      color:#FFFFFF;
      font-weight: bold;
      font-size: 16px;
    }
    &--secondary {
      padding: 12px 16px;
      border-radius: 8px;
      border: none;
      background-color: transparent;
      border-width: 2px;
      color: $primary-blue;
      font-weight: bold;
      font-size: 16px;
    }

    &--primary:hover {
      background-color: $hover-blue;
    }

    &--secondary:hover {
      //Box-shadow property form https://www.w3schools.com/css/tryit.asp?filename=trycss3_box-shadow5 
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    }
}

// **Cards**

// Cards

    // Marked card
.section__marked-cards {
  padding: 10px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}

.card-marked {
  padding: 10px;

  &__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $fontblack;
    max-width: 302px;
  }

  &__figure {
    margin: 0px;
    position: relative;
  }

  &__img {
    border-radius: 8px;
    border: 1px solid rgba($color: $stone, $alpha: 0.6);
    width: 300px;
    height: 300px;
    object-fit: cover;
    z-index: 1;
  }

  &__title, &__price {
    font-family: "finn-font-bold";
  }

  &__subtitle--location {
    font-size: $text-12-size;
  }

  &__btn {
    width: 20px;
    z-index: 2;
    top: 0;
    right: 0;
    padding: 0.8rem 1.5rem 0.8rem 3.5rem;
  }
  
  &__btn, &__price {
    bottom: 0;
    position: absolute;
  }

  &__price {
    left: 0;
    color: $ice;
    padding: 0.2rem 12.5rem 0.4rem 1.5rem;
    margin-bottom: 5px;
    border-radius: 8px;
    // Gradient property from https://www.finn.no/
    background: linear-gradient( 
      transparent,
      rgba(0, 0, 0, 0.05) 13.71%,
      rgba(0, 0, 0, 0.114) 25.12%,
      rgba(0, 0, 0, 0.192) 34.61%,
      rgba(0, 0, 0, 0.28) 42.59%,
      rgba(0, 0, 0, 0.37) 49.46%,
      rgba(0, 0, 0, 0.46) 55.63%,
      rgba(0, 0, 0, 0.55) 61.47%,
      rgba(0, 0, 0, 0.627) 67.41%,
      rgba(0, 0, 0, 0.698) 73.83%,
      rgba(0, 0, 0, 0.753) 81.13%,
      rgba(0, 0, 0, 0.79) 89.73%,
      rgba(0, 0, 0, 0.8)
    );
  }
}
      

 // Login card 
  
.card-login {
    width: 400px;
    padding: 32px;
    //Box-shadow property form https://www.w3schools.com/css/tryit.asp?filename=trycss3_box-shadow5 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    border-radius: 8px;
}

//link
a {
    color: $primary-blue;
    text-decoration: none;
}